<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {# make sure we always display a proper title: The record's title if there is one, appended with the
  sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
  <title>
    {%- if record|default and record.title -%}
    {{- record.title ~ ' | ' -}}
    {%- endif -%}
    {{- config.get('general/sitename') -}}
    {%- if record|default == null and config.has('general/payoff') -%}
    {{- ' | ' ~ config.get('general/payoff') -}}
    {%- endif -%}
  </title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" sizes="180x180" href="{{asset('apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon-16x16.png')}}">
  <link rel="manifest" href="{{ asset('site.webmanifest')}}">
  <link rel="mask-icon" href="{{asset('safari-pinned-tab.svg')}}" color="#5bbad5">


  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

  <link rel="stylesheet" href="{{ asset('css/tailwind.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/locomotive-scroll.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/base-2021.css') }}" />
  <link rel="stylesheet" href="{{ asset('js/css/tarteaucitron.css') }}" />
  <!--Replace with your tailwind.css once created-->

  <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
  <style>
    .gradient {
      background: linear-gradient(to right, #314755, #26a0da);
    }
  </style>

</head>

<body class="leading-normal tracking-normal font-sans bg-transparent" data-scroll-container>
    {% include 'partials/_navigation.twig' %}

    {% block main %}
    (This is <code>block main</code>)
    {% endblock main %}

    {% include 'partials/_footer.twig' %}

  <script defer src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script defer src="{{ asset('js/app.js') }}"></script>
  <script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js" crossorigin="anonymous"></script>
  <script nomodule src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll" crossorigin="anonymous"></script>
  <script defer src="{{ asset('js/locomotive-scroll.min.js') }}"></script>
  <script defer src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
  <script defer src="{{ asset('js/brands.min.js') }}"></script>
  <script defer src="{{ asset('js/fontawesome.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/tarteaucitron.js') }}"></script>

  <script type="text/javascript">
    tarteaucitron.init({
        "privacyUrl": "", /* Privacy policy url */
    
        "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
        "cookieName": "tarteaucitron", /* Cookie name */
    
        "orientation": "bottom", /* Banner position (top - bottom) */
    
        "showAlertSmall": false, /* Show the small banner on bottom right */
        "cookieslist": true, /* Show the cookie list */
        
        "showIcon": true, /* Show cookie icon to manage cookies */
        "iconPosition": "BottomRight", /* Position of the icon between BottomRight, BottomLeft, TopRight and TopLeft */
    
        "adblocker": false, /* Show a Warning if an adblocker is detected */
    
        "DenyAllCta" : true, /* Show the deny all button */
        "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
        "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
    
        "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
    
        "removeCredit": true, /* Remove credit link */
        "moreInfoLink": true, /* Show more info link */
        "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
    
        //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for subdomain website */
    
        "readmoreLink": "", /* Change the default readmore link pointing to tarteaucitron.io */
        
        "mandatory": true /* Show a message about mandatory cookies */
    });
  </script> 
<script type="text/javascript">
  $(document).ready(function() {
    $('.popup-image > img').magnificPopup({
        type: 'image',
        tLoading: 'Loading image #%curr%...',
        mainClass: 'mfp-img-mobile',
        callbacks: {
          elementParse: function(item) {
              item.src = item.el.attr('src');
          }
        },
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0,1] // Will preload 0 - before current, and 1 after the current image
        },
        image: {
          tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
          titleSrc: function(item) {
            return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
          }
        }
    });
  });
</script>

  <script type="module">

    (function () {
      var isFirstAnchorJump = true;
      
      window.onscroll = function (e) {
        if(isFirstAnchorJump) {
          e.preventDefault();
          isFirstAnchorJump = false;
        }
      }

      setTimeout(() => {

        var scroll = new LocomotiveScroll({
          el: document.querySelector('[data-scroll-container]'),
          smooth: true,
          multiplier: 1,
          reloadOnContextChange: true,
          smartphone: {
              smooth: true
          },
          tablet: {
              smooth: true
          }
        });

      }, 0);

    })();
  </script>
  

  {% block script %}
  {% endblock %}
</body>

</html>