<a
    href="https://www.facebook.com/sharer/sharer.php?u={{ canonical() }}&t={{ record.title }}" 
    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" 
    target="_blank" 
    title="Share on Facebook"
    >
    <span class="icon is-large hover:text-rouge-600 mx-1">
        <i class="fa-3x fab fa-facebook-square"></i>
    </span>
</a>
<a href="https://twitter.com/share?url={{ canonical() }}&text={{ record.title }}" 
    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" 
    target="_blank" 
    title="Share on Twitter">
    <span class="icon is-large hover:text-rouge-600 mx-1">
        <i class="fa-3x fab fa-twitter-square"></i>
    </span>
</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ canonical() }}&t=={{ record.title }}" 
    onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" 
    target="_blank" 
    title="Share on Linkedin">
    <span class="icon is-large hover:text-rouge-600 mx-1">
        <i class="fa-3x fab fa-linkedin"></i>
    </span>
</a>
<a href="whatsapp://send?text={{ canonical() }}" 
    data-action="share/whatsapp/share" 
    onClick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" 
    target="_blank" 
    title="Share on whatsapp">
    <span class="icon is-large hover:text-rouge-600 mx-1">
        <i class="fa-3x fab fa-whatsapp-square"></i>
    </span>
</a>
